* {
  position: relative;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative; /* Certifique-se de que o body ou outro contêiner principal seja relativo */
  overflow-x: hidden;
}

.back {
  position: absolute;
  z-index: 1;
  top: 5.5in;
  left: 0px;
  width: 100%;
  display: none
}

header {
  z-index: 1;
  position: fixed;
  top: -50px;
  left: 0px;
  width: 100%;
  height: 150px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(94, 10, 236, 0.15));
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  border-radius: 50px;
  border-bottom: 2px solid #5E0AEC;
}

header img {
  position: relative;
  width: 1.5in;
  left: 30px;
  top: 18px;
}

header i {
  position: relative;
  margin-left: auto;
  margin-right: 30px;
  top: 23px;
  font-size: 40px;
  color: white;
}

main {
  position: absolute;
  width: 94%;
  top: 1.45in;
  position: relative; /* Certifique-se de que main seja relativo */
}

.user-data {
  position: relative;
  background-color: #19192E;
  border: 4px dashed rgba(94, 10, 239, 0.5);
  border-radius: 30px;
  box-shadow: 0 5px 150px rgba(94, 10, 239, 0.5);
  width: 100%;
  height: 365px;
  margin-bottom: 35px;
}

.user {
  margin-top: 20px;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.user span {
  position: relative;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.infos {
  margin-top: 15px;
  position: relative; /* Certifique-se de que infos seja relativo */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas para os primeiros itens */
  gap: 5px;
  justify-items: center; /* Alinha os itens horizontalmente no centro */
  width: 100%;
  margin-bottom: 2px;
}

.box-value {
  position: relative;
  display: flex;
  align-items: center;
  width: 175px;
  height: 70px;
  border-radius: 15px;
  justify-content: center; /* Centraliza o conteúdo dentro de .box-value */
  margin-bottom: 0px;
}

/* Define o layout para o item na terceira posição */
.infos > :nth-child(3) {
  position: relative;
  grid-column: span 2; /* Faz com que o terceiro item ocupe duas colunas */
  justify-self: center; /* Centraliza o item na linha */
}

.infos div i {
  position: relative;
  font-size: 30px;
  margin-right: 20px;
  color: #5E0AEC;
}

.values {
  position: relative;
  display: flex;
  flex-direction: column;
}

.ballance {
  position: relative;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.txt-ballance {
  position: relative;
  color: white;
  font-size: 12px;
  margin-left: auto;
}

.nivel {
  margin-bottom: 45px;
  width: 100%;
  position: relative; /* Certifique-se de que nivel seja relativo */
  & span {
    margin-left: 12px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
    & strong {
      color: #5E0AEC;
      margin-left: 6px;
      text-transform: uppercase;
    }
    & i {
      font-size: 20px;
      margin-right: 5px;
      color: #5E0AEC;
    }
    & b {
      position: relative;
      margin-left: auto;
      margin-right: 16px;
    }
  }
}
.line {
  margin-top: 10px;
  position: relative;
  width: 94%;
  height: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  & div {
    height: 100%;
    background-color: #5E0AEC;
    border-radius: 15px;
  }
}
.user-data button {
  position: relative;
  width: 94%;
  height: 45px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #5E0AEC;
  color: white;
  font-weight: bold;
  border: none;
  overflow-y: hidden;
}
.sessao {
  position: relative;
  width: 100%;
  height: 95px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  background-color: #19192E;
  margin-bottom: 20px;
  & button {
    position: relative;
    height: 52px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #14142B;
    color: white;
    font-weight: bold;
    font-size: 100%;
  }
  & .selected {
    background-color: #5E0AEC;
  }
}
.whatsapp {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: #19192E;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  & select {
    margin-top: 5px;
    position: relative;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #14142B;
    padding-left: 15px;
    font-size: 100%;
    color: white;
    font-weight: bold;
    outline: none;
  }
  & input {
    margin-top: 5px;
    position: relative;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #14142B;
    padding-left: 15px;
    font-size: 100%;
    color: white;
    font-weight: bold;
    outline: none;
  }
  & button {
    position: relative;
    width: 90%;
    height: 55px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #5E0AEC;
    outline: none;
    font-size: 100%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
}
.txt-sessao {
  margin-top: 10px;
  position: relative;
  margin-left: 25px;
  font-weight: bold;
  font-size: 13px;
}
.alert-sessao {
  margin-top: 10px;
  position: relative;
  margin-left: 25px;
  font-weight: bold;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.15);
}
.instagram {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background-color: #19192E;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  & select {
    margin-top: 5px;
    position: relative;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #14142B;
    padding-left: 15px;
    font-size: 100%;
    color: white;
    font-weight: bold;
    outline: none;
  }
  & input {
    margin-top: 5px;
    position: relative;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 10px;
    background-color: #14142B;
    padding-left: 15px;
    font-size: 100%;
    color: white;
    font-weight: bold;
    outline: none;
  }
  & button {
    position: relative;
    width: 90%;
    height: 55px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #5E0AEC;
    outline: none;
    font-size: 100%;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
}
.inativa {
  display: none;
}
.rodape-comprar {
  position: relative;
  width: 100%;
  margin-top: 0.5in;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.garantir-txt {
  position: relative;
 background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(50, 50, 50, 1));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation-duration: display: inline-block;
  font-weight: bold;
  width: 50%;
  font-size: 23px;
  display: block;
  margin-bottom: 22px;
  text-align: center;
}
.garantir {
  position: relative;
  height: 242px;
  width: 70%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  & button {
    position: relative;
    width: 235px;
    height: 65px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    border: 1px solid rgba(255, 255, 255, 0.35);
  }
  & button div {
    width: 80%;
    height: 85%;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(50, 8, 121, 1), rgba(94, 10, 236, 1));
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.35);
    & span {
      color: white;
      font-weight: bold;
      font-size: 100%;
    }
  }
  & button i {
    position: relative;
    margin-left: auto;
    margin-right: 8px;
    font-size: 20px;
    color: white;
  }
}
.valor {
  position: relative;
  font-size: 33pt;
  font-weight: bold;
  color: white;
}
.line-rodape {
  margin-top: 35px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
}
.rodape {
  position: relative;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line-rodape {
  margin-top: 35px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-bottom: 25px;
}
.powered {
  top: 0px
  position: relative;
  width: 250px;
  height: 100px;
  background-color: #171717;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 25px;
}
.content-p {
  display: flex;
  justify-content: center;
  align-items: center;
  
  & span {
    z-index: 1;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: -15px;
    font-size: 17px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(50, 50, 50, 1));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation-duration: display: inline-block;
    & img {
      position: relative;
      margin-top: -30px;
      margin-bottom: -30px;
      height: 25%;
      width: 40%;
    }
  }
}
.powered::before {
  content: "";
  position: absolute;
  width: 62.4px;
  height: 400%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35));
  animation: animate 3s linear infinite;
}
@keyframes animate {
  100%{
    transform: rotate(360deg);
  }
}
.powered::after {
  content: "";
  position: absolute;
  background-color: #101010;
  inset: 2px;
  border-radius: inherit;
}
.copy {
  color: rgba(255, 255, 255, 0.35);
  width: 55%;
  text-align: center;
  margin-bottom: 15px;
}
.beneficios {
  position: absolute;
  top: 1.80in;
  z-index: 3;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: center;
  animation: fadeInOut 0.5s ease-in-out;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-beneficios {
  position: fixed;
  border: 4px dashed rgba(94, 10, 239, 0.5);
  border-radius: 30px;
  box-shadow: 0 5px 150px rgba(94, 10, 239, 0.5);
  width: 75%;
  height: 270px;
  border-radius: 15px;
  background-color: #101010;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  & span {
    position: relative;
    color: white;
    font-family: -apple-system, "Helvetica Neue";
    text-align: center;
    & strong {
      position: relative;
      font-family: -apple-system, "Helvetica Neue";
    }
  }
  & button {
    width: 100%;
    height: 60px;
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.35);
    font-weight: bold;
    font-size: 130%;
    background-color: transparent;
    color: #5E0AEC;
  }
}
.title-popup {
  margin-bottom: 5px;
  font-size: 22.5px;
}
.desc-popup {
  width: 90%;
  font-size: 17.2px;
  margin-bottom: 20px;
}
.blur {
  position: fixed;
  width: 100%;
  hwight: 100%;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 2;
  animation: fadeInOut 0.5s ease-in-out;
}
.blur-menu {
  position: fixed;
  width: 100%;
  hwight: 100%;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(1px);
  z-index: 2;
  animation: fadeInOut 0.5s ease-in-out;
}
.popup-off {
  display: none;
}
.menu {
  & div {
  position: fixed;
  z-index: 3;
  right: 10px;
  display: flex;
  flex-direction: column;
  width: 42%;
  top: 1.1in;
  border-radius: 15px;
  background-color: #101010;
  gap: 10px;
  padding-top: 10px;
  padding: 10px;
  border: 2px solid rgba(94, 10, 239, 1);
  box-shadow: 0 5px 150px rgba(94, 10, 239, 0.5);
  animation: fadeInOut 0.5s ease-in-out;
  & button {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 100%;
    border-radius: 15px;
    border: none;
    background-color: #101010;
    color: white;
    font-weight: bold;
    & svg {
      width: 10%;
      position: relative;
      margin-right: 10px;
    }
  }
 }
}
.menudeposit {
  position: fixed;
  width: 100%;
  height: 4.5in;
  padding-top: 40px;
  bottom: -30px;
  z-index: 3;
  left: 0px;
  display: flex;
  justify-content: center;
  background-color: #1D1D1D;
  border-radius: 30px;
  animation: fadeInOut 0.5s ease-in-out;
}
.main-deposit {
  position: relative;
  width: 100%;
  left: 25px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-container {
  display: flex;
  flex-direction: row;
}
.title-deposit {
  position: relative;
  width: 100%;
  color: white;
  margin-left: 15px;
}
.close-deposit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: 60px;
  border: none;
  border-radius: 15px;
  background-color: grey;
  & svg {
    width: 100%;
    height: 100%;
  }
}
.sub-deposit {
  margin-top: 18px;
  position: relative;
  width: 100%;
  color: white;
  font-size: 14.5px;
  margin-left: 15px;
}
.main-deposit input {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  width: 86.5%;
  height: 45px;
  border: none;
  background-color: #303030;
  font-size: 100%;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  border-radius: 10px;
  outline: none;
  margin-bottom: 10px;
}
.values {
  position: relative;
  margin-bottom: 11px;
  margin-top: 10px;
  & div {
    position: relative;
  background-color: transparent;
  white-space: nowrap; /* Impede que os botões quebrem para a próxima linha */
  overflow-x: auto; /* Adiciona o scroll horizontal quando necessário */
  margin-left: 10px;
  gap: 30px;
  scroll-behavior: smooth;
    width: 86.5%;
  }
}
.btn-values {
  position: relative;
  width: 80px;
  height: 50px;
  margin-right: 50px;
  font-size: 100%;
  color: white;
  border: none;
  background-color: #303030;
  font-weight: bold;
  border-radius: 15px;
}
.btn-values:last-child {
  margin-right: 60px;
}
.btn-values:focus {
  background-color: #5E0AEF;
}
.submit {
  position: relative;
  left: 10px;
  width: 86.5%;
  height: 46.5px;
  background-color: #5E0AEF;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 100%;
  border-radius: 10px;
  display: block;
  margin-top: 6px;
}
.ismenudeposit {
  z-index: 4;
}
.autopix {
  margin-top: 10px
}